 #titulodepag{
    text-align: center;
 }

 #price{
    font-weight: bold;
    text-align: end;
    margin-right: 50px;
    font-size: 20px;
    margin-top: 10px;
}

.custom-ion-list ion-item {
    min-height: 100px;
    font-size: 18px;
  }
  
  .custom-ion-list ion-item h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  }
  
  .custom-ion-list ion-item p {
    font-size: 18px;
    margin: 0;
  }
 
  
  .custom-ion-list ion-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 16px;
  }
  
  .custom-ion-list ion-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }